

  <div class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i> <b>Important:</b> Please note: senders should not send the information for this AMoRC section heading as a FHIR Composition section. 
The information must be sent using FHIR resources stated in the sections below. 
Receivers must render this information from the resources under the appropriate heading when displaying the document for the human reader. 
An exemplar style-sheet for rendering ITK FHIR documents is available called <a href="https://github.com/nhsconnect/ITK3-FHIR-Documents-Renderer/tree/develop">NHS_FHIR_Document_Renderer.xsl</a></div>

